.react--input {
    width: 270px;
    height: 31px;
    font-family: Mali;
    font-style: normal;
    font-size: 15px;
    border: 1px solid;
    padding: 8px;
}

input:focus{
  outline: none !important;
}