.main-container {
  box-sizing: box-sizing;
  margin: 0 auto;
  text-align: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 20px;
}
